<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44107571506-rsgr5caop3kcq6vt3had1c7014l8j0nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44107571506-rsgr5caop3kcq6vt3had1c7014l8j0nr</string>
	<key>API_KEY</key>
	<string>AIzaSyCt8BTEm-UMJ4FDPFzBnPELC-ao3uVgM5A</string>
	<key>GCM_SENDER_ID</key>
	<string>44107571506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.envanterKontrol</string>
	<key>PROJECT_ID</key>
	<string>cansgomlek</string>
	<key>STORAGE_BUCKET</key>
	<string>cansgomlek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44107571506:ios:0422d69c6204a149b2772b</string>
</dict>
</plist>